table {
  border: 1px solid #48aae6;
  cursor: grab;
}

td {
  background-color: #48aae6;
  height: 50px;
  width: 50px;
}

.error {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: 2px solid red;
}

.container {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  margin: 65px;
}

.button {
  position: absolute;
  color: #ffffff;
  margin: 2px;
  height: 50px;
  width: 50px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  transition-duration: 0.6s;
  opacity: 1;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.add {
  background-color: #f3a500;
  line-height: 50px;
}

.add-column {
  left: 100%;
  top: 1px;
}

.add-row {
  top: 100%;
  left: 1px;
}

.remove {
  background-color: #b20000;
  line-height: 40px;
  display: block;
  visibility: hidden;
}

.remove-column {
  bottom: 100%;
  margin: 2px 1px;
}

.remove-row {
  right: 100%;
  margin: 1px 2px;
}
